.container{

    margin: 0 auto; //uansdo essa configuração, faz com que o elemento fique cetralizado, pois fica em margem 0 no topo e em baixo, e margem automatica na direita e esquerda
    padding-right: 15px;
    padding-left: 15px;
    @media(min-width: $breakpoint-sm){
            width: 540px;
    }
    @media(min-width: $breakpoint-md){
            width: 720px;
    }
    @media(min-width: $breakpoint-lg){
            width: 960px;
    }
    @media(min-width: $breakpoint-xg){
            width: 1140px;
    }
}
