.rodape{
    color: white;
}

.rodape .logo{
    margin-bottom: 20px;
}
.rodape__linha-1{
    background-color: #272525;
    background-image: url("../imagens (1)/img/rodape-bg-md.jpg");
    background-size: cover;
    padding: 15px;
    overflow: auto;
    
}

.rodape__linha-2{
    background-color: black;
    text-align: center;
    padding: 15px;

}

.rodape__coluna{
    margin-top: 40px;
    margin-bottom: 40px;
}

.rodape__titulo{
    border-bottom: 1px solid white;
    padding: 0 10px 10px 10px;
    font-size: 18px;
}

.rodape__lista-links{
    padding: 0;
    list-style: none;
}

.rodape__lista-links-item{
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.rodape__lista-links-item::before{
    content: '>';
    margin-right: 8px;
    color: $cor-principal;
}
@media(min-width: $breakpoint-md){
    .rodape__linha-1{
        background-image: url("../imagens (1)/img/rodape-bg-md.jpg");
    }
    .rodape__coluna{
        float: left;
        width: 33.333%;
        padding: 0 15px;
    }
}
@media(min-width: $breakpoint-md){
    .rodape__linha-1{
        background-image: url("../imagens (1)/img/rodape-bg-xl.jpg");
    }
}