.depoimentos{
    background-color: $cor-principal;
    background-image: url('../imagens (1)/img/cabecalho-pagina-bg.jpg');
    background-attachment: fixed;
    color: white;
    padding: 30px 0;
    &__caixa{
        max-width: 750px;
        margin: 0 auto;
    }
}

.depoimentos__img{
    margin: 0 auto;
    display: block;
    box-shadow: 3px 3px 0 rgb(240, 180, 180);/*Nesse caso, serve para colocar uma sombra na box, o primeiro */
    margin-bottom: 30px;
}
.depoimentos__texto{
    line-height: 24px;
    margin-bottom: 30px;
}
.depoimentos__texto::before{
    background: url('../../imagens (1)/img/aspas.png') no-repeat;
    content: '';
    display: inline-block;
    width: 25px;
    height: 23px;
    margin-right: 5px;
}
.depoimentos__pessoa{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}


@media(min-width: $breakpoint-md){
    .depoimentos{
        padding: 150px;
    }
    .depoimentos__img{
        float: left;
        margin-right: 15px;
    }

    .depoimentos__pessoa{
        text-align: left;
    }
}